@import url('https://fonts.googleapis.com/css?family=Sofia|Roboto');


.add1 {
    font-family: 'Roboto', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;           
    background-color: #f5f5f5;
    background-image: url('green background.jpg');
}

.add-record-container {
    width: 300px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color:black;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color:black;
    
}

label {
    display: block;
    margin-top: 10px;
    color:black;
}
input[type="text"], input[type="number"], input[type="date"], select {
    width: 100%;
    padding: 10px; 
    margin-top: 10px;  
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom:10px;
}
.dashboard-button{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
input[type="submit"]:hover {
    background-color: #45a049;
    margin-bottom: 10px;
}

hr {
    margin: 20px 0;
    
}