
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('3175990.jpg');
}


.container {
    width: 350px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 15px 20px rgb(95, 122, 21);
    padding: 20px;
    text-align: center;
}


.form {
    display: none; 
}

.form.active {
    display: block; 
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
    transition: .9s;
}
button:active{
    opacity: 0.1;
    transition: .9s;
}

.toggle {
    margin-top: 15px;
}

.toggle a {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.toggle a:hover {
    color: #0056b3;
}
input[type="checkbox"] {
    width: 10px; /* Change the width */
    height: 10px; /* Change the height */
    cursor: pointer; /* Change cursor on hover */
}

/* Styling the label */
label {
    font-size: 12px; /* Change font size */
    color: #333; /* Change font color */
}