@import url('https://fonts.googleapis.com/css?family=Sofia|Roboto');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}
.sidebarbody {
    font-family: 'Roboto', sans-serif; /* First tries Sofia, then Roboto */
    color:white;
    font-family: 'Roboto', sans-serif; 
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    color:white;
    font-family: 'Roboto', sans-serif; 
}
.sidebar{
    
    position: fixed;
    left: 228px;
    width: 250px;
    height: 70%;
    background: #5cb85c;
    border-radius: 50px 50px 50px 50px;
    font-family: 'Roboto', sans-serif; 
}
.sidebar header{
    font-size:30px;
    text-align: center;
    line-height: 50px;
    background-color:#5cb85c;
    border-radius: 50px 50px 0 0;
    user-select: none;
    font-family: 'Roboto', sans-serif; 
}
.sidebar ul a{
    display: block;
    color: white;
    box-sizing: border-box;
    line-height: 60px;
    height: 60%;
    padding-left: 69px;

    border-top: 1px solid rgb(145, 236, 150);
    border-bottom: 1px solid rgb(145, 236, 150);
    transition: .4s;
}
ul li:hover a{
    padding-left: 90px;
}
.sidebar ul a i{
    margin-right: 16px;
}
